<section>
    <h3>ACCES</h3>

    <img src="http://dummyimage.com/300x300/aaaaaa/fff" alt="carte"/>

    <h4>Adresse</h4>

    <p>Musée Océanographique de Basen-Baden Coethepl 76530 Baden-Baden, Allemagne</p>

    <h4>Transports en commun</h4>

    <ul>
        <li>Bus 61, 123 : arrêt "la coline" ou "centre commercial"</li>
        <li>Bus 32 : arrêt "Goethpl"</li>
    </ul>

    <h4>Places de stationnment</h4>

    <p>Entrée du parking sur Werderstrasse. Places de stationnement réservée aux handicapés devant l'entrée du
        musée.</p>

    <h4>Taxi</h4>

    <p>Dépose et reprise de taxi ou de véhicules spécialisés devant le centre commercial</p>

</section>
