<section class="horaire">
  <h3>Horaires</h3>
  <p>
    Le musée Océanographique de Baden-Baden est ouvert du mardi au dimanche.</BR>
    Il est fermé les lundi ainsi que les jours fériés suivants: 1er janvier, 1er mai et 25 décembre.
  </p>
  <table class="horaires">
    <thead>
      <tr>
        <th>Mois d'ouverture</th>
        <th>Horaires d'ouverture</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Janvier | Février | Mars</td>
        <td>10h00 à 18h00</td>
      </tr>
      <tr>
        <td>Avril | Mai | Juin</td>
        <td>10h00 à 19h00</td>
      </tr>
      <tr>
        <td>Juillet | Août</td>
        <td>09h30 à 20h00</td>
      </tr>
      <tr>
        <td>Septembre</td>
        <td>10h00 à 19h00</td>
      </tr>
      <tr>
        <td>Octobre | Novembre | Décembre</td>
        <td>10h00 à 18h00</td>
      </tr>
    </body>
  </table>
  </BR>
  <span class="bandeauBleu">Pendant les vacances scolaires, il est vivement conseillé de réserver vos animations.</span>
</section>
