<section class="horaire">
  <h3>Tarifs</h3>
  <p>
    Billet valable pour une journée (entrées-sorties acceptées)
    Audio guide en 8 langues pour les collections permanentes: gratuit
    (réservé uniquement aux visiteurs individuels).</BR>
    Chaque premier dimanche du mois, l'accès aux collections permanentes est gratuit.
    L'entrée aux expositions temporaires reste payant.
  </p>
  <table class="tarifs">
    <thead>
      <tr>
        <th></th>
        <th>Plein tarif</th>
        <th>Tarif réduit</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>COLLECTIONS PERMANENTES</td>
        <td>7.50€</td>
        <td>5.50€</td>
      </tr>
      <tr>
        <td>
          BILLET JUMELE</BR>
          exposition temporaire et collections permanentes
        </td>
        <td>9.50€</td>
        <td>7€</td>
      </tr>
    </tbody>
  </table>
</section>
